.container {
  height: 350px;
}
@media (min-width: 1280px) {
  .container {
    height: 500px;
    padding: 40px;
  }
}
.title {
  margin: 5px;
  padding: 15px;
}
@media (min-width: 1280px) {
  .title {
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form_text {
  text-align: center;
  margin: 10 0;
}
