.container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.product_title_container {
  padding: 10px;
}

.form {
  border: solid 2px;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  background-color: black;
  max-width: 400px;
  color: white;
}
@media (min-width: 1280px) {
  .form {
  }
}

.dropdown_container {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.dropdown {
  width: 120px;
  padding: 5px;
  outline: none;
  border: solid 2px;
  border-radius: 4px;
  cursor: pointer;
}
.text_container {
  padding: 10px;
}
.text_container p {
  font-size: 20px;
}
.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.address_container {
}
@media (min-width: 1280px) {
  .address_container {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
