* {
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

:root {
  --gray: #c1c1c1;
  --blue: #4f7cac;
  --cyan: #91e5f6;
  --yellow: #ffc700;
  --darkPurple: #201e50;
  --pink: #e75a7c;
  --fontFamily: "Montserrat", sans-serif;
}
